# macOS
.DS_Store

# Xcode
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcuserstate
ios/*.hmap
ios/*.ipa
ios/*.xcuserdatad/
ios/*.xcuserdata
ios/*.xccheckout
ios/*.moved-aside
ios/*.xcscmblueprint
ios/.xcode.env.local

# CocoaPods
ios/Pods/
ios/.symlinks/
ios/Manifest.lock
ios/Podfile.lock

# Android/IntelliJ
android/.idea
android/.gradle
android/local.properties
android/*.iml
android/build/
android/.cxx/
android/*.keystore

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Metro bundler
*.jsbundle
.metro-health-check*

# Fastlane
ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/screenshots
ios/fastlane/test_output

# Ruby / Bundler
ios/vendor/bundle/

# Testing
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions